sidelength = 40px
boxborder = black

body
  margin 0
  padding 0

.box
  border: 1px solid boxborder
  margin: 5px

.square
  width: sidelength
  height: sidelength

.rect
  width: sidelength * 2
  height: sidelength